# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Image directories
images/**
counting_birds/data/**
Counting_MATLAB_package_birds/bird_data/**

# But include non-identifiable results
!Counting_MATLAB_package_birds\bird_data\output\log.pdf
!Counting_MATLAB_package_birds\bird_data\output\regressor_512.mat
!Counting_MATLAB_package_birds\bird_data\output\Results.mat
!Counting_MATLAB_package_birds\bird_data\output\dict_512.mat

# Annotation data
annotations/**

# Large Data Files
counting_birds/features_BIRD_IMAGES*


# MATLAB

# Compiled MEX binaries (all platforms)
*.mex*

# Windows default autosave extension
*.asv

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc